@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* font*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
.container {
  width: 870px;
  height: 679px;
  background-color: #ffffff;
  margin: 30px 185px;
}

/* main-section start */

/* top player style */
.section-title {
  margin-top: 3px;
  padding: 22px;
  font-size: 24px;
  color: #562eff;
}
.top-players {
  margin-bottom: 30px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 29px;
}
.player {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.player img {
  height: 56px;
  width: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}
hr {
  border: 1px solid #d1d1d1;
}

/*------------------
blogs style start
------------------ */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
}
.blog {
  display: flex;
  margin-left: 27px;
}
.blog img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  margin: 0;
  font-size: 20px;
}
.author-name a {
  color: #562eff;
  text-decoration: none;
  font-size: 16px;
}
.author-name {
  color: #9f9f9f;
  margin: 0;
}
/*---------------
 course style 
 ----------------*/
.course-container {
  width: 870px;
  height: 390px;
  background-color: #ffffff;
  margin: 30px 185px;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 22px;
}
.course-details {
  margin: 0 25px;
}
.course-details img {
  width: 224px;
  height: 104px;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filed {
  width: 12.25px;
  height: 11.75px;
  background-color: #ffc014;
}
.empty {
  width: 12.25px;
  height: 11.75px;
  color: #aeaeae;
}
.course-rating {
  font-size: 14.6913px;
  color: #a2a2a2;
}
.course-time {
  color: #ff4a60;
  font-weight: 600;
  font-size: 14.6913px;
  background: #ffe4e8;
  border-radius: 14.6913px;
  width: 94.83px;
  height: 29.38px;
  border-radius: 14.69px;
}
/*------------
 media queary
 ------------*/
/*-------------
 mobile device 
 --------------*/
@media only screen and (max-width: 688px){
  .container,.course-container{
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .players,.blogs,.courses{
    grid-template-columns: repeat(1,1fr);
  }
  .player,.blog,.course-details{
    flex-direction: column;
    align-items: center;
  }
}

  
